body {
    background-color:grey;
    color:lightgray !important;
	.container {
	    text-align: center;
	    font-size: 20px;
	    padding-top: 30px;
	    width: 100%;
		.controls {
			margin: 15px;
			.button {
				text-decoration-line:none !important;
				color:lightgray !important;
				margin: 10px;
			}
		}
		.stopwatch {
			font-size: 50px;
			padding: 10px;
		}
	}	
}


